{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Django blog app{% endblock %}</title>
    {% if offline_bootstrap == True %}
        <link rel="stylesheet" href="{% static offline_bootstrap_location|add:'/css/bootstrap.min.css' %}"/>
    {% else %}
        <link rel="stylesheet" href="{{ online_bootstrap_location }}/css/bootstrap.min.css" crossorigin="anonymous"/>
    {% endif %}
</head>
<body>
    <div class="container p-3">
        {% block content %}
        {% endblock %}
    </div>
    {% if offline_bootstrap == True %}
        <script src="{% static offline_bootstrap_location|add:'/js/bootstrap.bundle.min.js' %}"></script>
    {% else %}
        <link rel="stylesheet" href="{{ online_bootstrap_location }}/js/bootstrap.bundle.min.js" crossorigin="anonymous"/>
    {% endif %}
</body>
</html>