{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card m-2 p-3">
            <h2>
                {% if i.title == '' %}
                Unnamed post
                {% else %}
                {{ post.title }}
                {% endif %}
            </h2>
            <i>This is posted at {{ post.posted_at }}</i><br />
            <p>{{ post.contents }}</p>
            <a class="btn btn-primary" role="button" href="{% url 'blog:index' %}">Return to post list...</a>
        </div>
    </div>
</div>
{% endblock %}